%h1 BitlyUpdater

= flash[:message]

-if @cu.nil?
  =link_to("Sign in with Bitly", "https://bitly.com/oauth/authorize?client_id=#{ENV["CLIENT_ID"]}&redirect_uri=#{ENV["REDIRECT_URI"]}")
-else
  =form_tag user_path(@cu.id), :method => :put do
    =label_tag :email, "Enter the email you'd like to recieve your bitly updates at:"
    =text_field_tag :email, @cu.email
    =submit_tag